<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AgroSystem</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <h1>AgroSystem</h1>
           <!-- Lamps -->
    <div id="lamp">
        <div id="name-section-1"><h2>Осветление</h2></div>
        <div id="indicator-lamps">
            <img id="indicator-lamps-start" src="/img/green.png" alt="">
            <img id="indicator-lamps-stop" src="/img/red.png" alt="">
        </div>  
            <a id="button-lamps-start" href="lamps-start"><div class="button_green">
                <p id="button_text">Старт</p>
            </div></a>
            <a id="button-lamps-stop" href="lamps-stop"><div class="button_red">
                <p id="button_text">Стоп</p>
            </div></a>
    </div>
          <!-- Pupm 2 -->
    <div id="Pump-2">
            <div id="name-section"><h2>Помпа на капкова система </h2></div>
            <div id="indicator-Pump-2">
                <img id="indicator-Pump-2-start" src="/img/green.png" alt="">
                <img id="indicator-Pump-2-stop" src="/img/red.png" alt="">
            </div>  
                <a id="button-Pump-2-start" href="pump2-start"><div class="button_green">
                    <p id="button_text">Старт</p>
                </div></a>
                <a id="button-Pump-2-stop" href="pump2-stop"><div class="button_red">
                    <p id="button_text">Стоп</p>
                </div></a>
    </div>
            <!-- Pupm 1 -->
    <div id="Pump-1">
        <div id="name-section"><h2>Помпа на дюзова система </h2></div>
        <div id="indicator-Pump-1">
            <img id="indicator-Pump-1-start" src="/img/green.png" alt="">
            <img id="indicator-Pump-1-stop" src="/img/red.png" alt="">
        </div>  
            <a id="button-Pump-1-start" href="pump1-start"><div class="button_green">
                <p id="button_text">Старт</p>
            </div></a>
            <a id="button-Pump-1-stop" href="pump1-stop"><div class="button_red">
                <p id="button_text">Стоп</p>
            </div></a>
        </div>
      <!-- Drip system -->
        <div id="drip-system">
                <div id="name-section"><h2>Капкова система </h2></div>
                <div id="indicator-drip-system">
                    <img id="indicator-drip-system-start" src="/img/green.png" alt="">
                    <img id="indicator-drip-system-stop" src="/img/red.png" alt="">
                </div>  
                    <a id="button-drip-system-start" href="drip-start"><div class="button_green">
                        <p id="button_text">Старт</p>
                    </div></a>
                    <a id="button-drip-system-stop" href="drip-stop"><div class="button_red">
                        <p id="button_text">Стоп</p>
                    </div></a>
        </div>
      <!-- Rain system -->
      <div id="rain-system">
            <div id="name-section"><h2>Дюзова система </h2></div>
            <div id="indicator-rain-system">
                <img id="indicator-rain-system-start" src="/img/green.png" alt="">
                <img id="indicator-rain-system-stop" src="/img/red.png" alt="">
            </div>  
                <a id="button-rain-system-start" href="rain-start"><div class="button_green">
                    <p id="button_text">Старт</p>
                </div></a>
                <a id="button-rain-system-stop" href="rain-stop"><div class="button_red">
                    <p id="button_text">Стоп</p>
                </div></a>
    </div>
    
          <!-- Electrical clapun for water and tor -->
          <div id="el-water">
            <div id="name-section"><h2>Контейнер за водата и тор</h2></div>
            <div id="indicator-el-water">
                <img id="indicator-el-water-start" src="/img/green.png" alt="">
                <img id="indicator-el-water-stop" src="/img/red.png" alt="">
            </div>  
                <a id="button-el-water-start" href="water-fert-start"><div class="button_green">
                    <p id="button_text">Старт</p>
                </div></a>
                <a id="button-el-water-stop" href="water-fert-stop"><div class="button_red">
                    <p id="button_text">Стоп</p>
                </div></a>
    </div>
          <!-- Electrical clapun for chemstry preparat -->
          <div id="el-chem-drip">
            <div id="name-section"><h2>Химичен препарат (Дюзова система)</h2></div>
            <div id="indicator-el-chem-drip">
                <img id="indicator-el-chem-drip-start" src="/img/green.png" alt="">
                <img id="indicator-el-chem-drip-stop" src="/img/red.png" alt="">
            </div>  
                <a id="button-el-chem-drip-start" href="chem-drip-start"><div class="button_green">
                    <p id="button_text">Старт</p>
                </div></a>
                <a id="button-el-chem-drip-stop" href="chem-drip-stop"><div class="button_red">
                    <p id="button_text">Стоп</p>
                </div></a>
    </div>
</div>
<!-- inlet-fan-->
<div id="inlet-fan">
  <div id="name-section"><h2>Входен вентилатор</h2></div>
  <div id="indicator-inlet-fan">
      <img id="indicator-inlet-fan-start" src="/img/green.png" alt="">
      <img id="indicator-inlet-fan-stop" src="/img/red.png" alt="">
  </div>  
  <div id="bt">
      <a id="button-inlet-fan-start" href="fan-in-start"><div class="button_green">
          <p id="button_text">Старт</p>
      </div></a>
      <a id="button-inlet-fan-stop" href="fan-in-stop"><div class="button_red">
          <p id="button_text">Стоп</p>
          
      </div></a>
      
    </div>
    <div id="speed-inlet-fan">skorost vh.ventilator<input id="speed-inlet-fan-input" type="text"></div>
    
</div>
<!-- output-fan-->
<div id="inlet-fan">
    <div id="name-section"><h2>Изходен вентилатор</h2></div>
    <div id="indicator-inlet-fan">
        <img id="indicator-inlet-fan-start" src="/img/green.png" alt="">
        <img id="indicator-inlet-fan-stop" src="/img/red.png" alt="">
    </div>  
        <a id="button-inlet-fan-start" href="fan-out-start"><div class="button_green">
            <p id="button_text">Старт</p>
        </div></a>
        <a id="button-inlet-fan-stop" href="fan-out-stop"><div class="button_red">
            <p id="button_text">Стоп</p>
        </div></a>
  </div>
            
</body>
</html>